.custom-container{
    border-radius: 2rem; 
    width: 30%;
    margin: 0 auto;
   margin-top: 8%;
}
@font-face{
    font-family: Overpass;
    src: url("./assets/fonts/Overpass-VariableFont_wght.ttf");
}
.overpass-bold{
    font-family: Overpass;
    font-weight: 700;
}
.overpass-light{
    font-family: Overpass;
    font-weight: 400;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(216, 12%, 54%);
  }
  .attribution a {
    color: white;
  }
.text-verydarkblue{
    color: hsl(216, 12%, 8%);
}
.bg-verydarkblue{
    background-color: hsl(216, 12%, 8%);
}
.text-darkblue{
    color: hsl(213, 19%, 18%);
}
.bg-darkblue{
    background-color: hsl(213, 19%, 18%);
}
.bg-lightdarkblue{
    background-color: hsl(216, 12%, 8%, 0.3);
}
.border-darkblue{
    border: .00625rem solid green;
}
.border-verydarkblue{
    border: .0625rem solid hsl(213, 19%, 18%);
}
.text-mediumgrey{
    color: hsl(216, 12%, 54%);
}
.bg-mediumgrey{
    background-color: hsl(216, 12%, 54%);
}
.text-lightgrey{
    color: hsl(217, 12%, 63%);
}
.bg-lightgrey{
    background-color: hsl(217, 12%, 63%);
}
.text-orange{
    color: hsl(25, 97%, 53%);
}
.bg-orange{
    background-color: hsl(25, 97%, 53%);
}
.active {
    background-color: hsl(217, 12%, 63%);
    color: white;
    border: none;
  }
  .rate:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
  }
  .submit-btn{
    color: white;
  }
  .submit-btn:hover {
    background-color: white;
    color: orange;
    border: none;
  }
@media screen and (max-width: 768px) {
    .custom-container{
        width: 94%;
        margin: 0 auto;
        margin-top: 30%;
        margin-left: 3%;
        margin-right: 3%;
    }
}